<div id="fixer"></div>
<div class="info">
  <div class="oneline">


  <h6 class="color_grey">Place</h6>
  <br>
  <h4>{{dev.placeUa}}</h4>
  <hr>

  <h6 class="color_grey">Address</h6>
  <br>
  <h4>{{dev.fullAddressEn}}</h4>
  <hr>

  <h6 class="color_grey">TimeTable</h6>
  <br>
  <h4>Mon - Fri: 00:00 - 23:59</h4>
<!--  <h4>Tue: 00:00 - 23:59</h4>
  <h4>Wed: 00:00 - 23:59</h4>
  <h4>Thu: 00:00 - 23:59</h4>
  <h4>Fri: 00:00 - 23:59</h4>-->
  <h4>Sat - San: 00:00 - 23:59</h4>
 <!-- <h4>San: 00:00 - 23:59</h4>-->
  <h4>Holiday: 00:00 - 23:59</h4>
  <hr>
  </div>
  <div  class="oneline">
    <h6 class="color_grey">Map</h6>
    <br>
    <div id="map">

    </div>

  </div>

</div>
