
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">ATMS MAP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">

      <a class="nav-item nav-link" routerLink="map">MAP</a>
      <a class="nav-item nav-link" routerLink="list">LIST</a>
      <a class="nav-item nav-link" routerLink="addinfo">ADD ATM</a>


    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
      <div class="navbar-nav">

      <a class="nav-item nav-link" routerLink="admin">ADMIN</a>
        </div>
    </div>

  </div>
</nav>


<main _ngcontent-c0>
  <router-outlet></router-outlet>
</main>
<div class="padding-30px"></div>
<footer class="page-footer font-small special-color-dark pt-4 ">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a > ATMS</a>
  </div>
  <!-- Copyright -->

</footer>
