<div id="fixer"></div>
<div class="info">
<h4>
  Do you know the location of the ATM? but did not find it. Inform us!</h4>
  <form   #informform="ngForm">

    <div class="md-form">
      <i class="fas fa-user prefix"></i>
      <input type="text" placeholder="email"  required ngModel name="email" id="inputIconEx2" class="form-control">
    </div>

    <h6>Can add photo </h6>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
      </div>
      <div class="custom-file">
        <input ngModel name="file"  type="file" class="custom-file-input" id="inputGroupFile01"
               aria-describedby="inputGroupFileAddon01">
        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
      </div>
    </div>
    <br>
    <div id="map">

    </div>



    <button  class="btn btn-primary" [disabled]="informform.invalid || !markerset" type="button" (click)="Send(informform)">Send</button>

  </form>
</div>
